<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True; Connection Timeout=300;Min Pool Size=0;Max Pool Size=2024"/>
    <add name="MovNETConnectionString" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="connections" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionString2" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionString3" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="connectTB" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="cont" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionString4" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DIstributeDB" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionString5" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionString6" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionString7" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETCo" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionSt" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionString8" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MovNETConnectionString9" connectionString="Data Source=LAPTOP-85FUV41M\SQLEXPRESS;Initial Catalog=MovNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
	  <defaultDocument enabled="true">
		  <files>
			  <add value="Login.aspx"/>
		  </files>
	  </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>